body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #f9f5eb; /* Soft beige background */
}

header {
    background-color: #6d5835; /* Earthy brown */
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #8e735b; /* Light brown */
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
    margin: 0 1em;
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

nav a:hover {
    color: #c3a077; /* Lighter brown on hover */
}

main {
    max-width: 800px;
    margin: 2em auto;
    padding: 0 1em;
}

article {
    background-color: #fff;
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

h1{
    color: #F5F5DC; /* Earthy brown for headings */
}

h2 {
    color: #6d5835; /* Earthy brown for headings */
}

p1 {
    color: #544339; /* Dark brown for paragraphs */
    line-height: 1.6;
}

p2 {
    color: #F5F5DC; /* Dark brown for paragraphs */
    line-height: 1.6;
}

footer {
    background-color: #6d5835; /* Earthy brown */
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
